body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: url('resource/image.png') no-repeat center center fixed;
    background-size: cover;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Transparansi */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #1252FF;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: #00796b;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #4dd0e1;
    padding-bottom: 5px;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.footer {
    text-align: left;
    margin-top: 20px;
    font-size: 14px;
    padding-left: 10px;
    color: #555;
}

.footer a {
    color: #00796b;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer p.footer-text {
    font-size: 16px;
}

.footer p.footer-info {
    font-size: 13px;
}

.footer a.footer-link {
    font-size: 16px;
